.slider {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 30vw;
    margin: 0 auto;
    padding: 1%;
    background-color: black;
    overflow: hidden;
}
.slides-box {
    display: flex;
    justify-content: start;
    overflow: hidden;
    padding-bottom: 2%;
}
.slide {
    min-width: 100%;
    
}
.slide img {
  max-width: 100%;
  border-radius: 1%;
}
.box {
  display: flex;
  justify-content: end;
}
.contrillers {
  display: flex;
  max-width: 30%;

  -webkit-order: 2;
}
label {
  display: flex;
  padding: 0.2em;
}
label:hover{
  cursor: pointer;
}
.captions {
  color: #fff;
  -webkit-order: 1;
}